*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


@media screen and (max-width: 768px) {

    *{
        max-width: 100%;
        box-sizing: border-box;
    }


}