.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: auto;
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
   
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    a{
        color: black;
    }
    .active-link-header{
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

