.tag {
    display: flex;
    flex-wrap: wrap;
    background-color: #ff6060;
    border-radius: 10px;
    width: auto;
    min-width: 85px;
    max-width: 1000px;
    
    height: 25px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
}