.headlines-banner {
    width: 1240px;
    height: 223px;
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-weight: 700;
    font-size: 48px;
    color: white;

    @media screen and (max-width: 768px) {

        margin-left: 20px;
        margin-right: 20px;
        height: 111px;
        max-width: calc(100% - 40px);
    }

    @media screen and (max-width: 1280px) {
        max-width: 90%;
        margin: auto;

    }

    .banner-text {
        text-align: center;
        justify-content: center;
        position: relative;
        top: -370px;
        z-index: 999;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            font-weight: 700;
            width: 70%;
            text-align: left;
            justify-content: center;
            top: -205px;
            margin-left: 20px;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .img-overlay {
        background-color: black;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        opacity: 0.45;
        position: relative;
        bottom: 233px;
        z-index: 0;

        @media screen and (max-width: 768px) {
            bottom: 122px;
        }
    }
}

.cards-container {
    background-color: #f6f6f6;
    width: 1240px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 55px;
    border-radius: 25px;
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 55px;

    @media screen and (max-width: 1280px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        padding-top: 20px;
        justify-content: center;
        gap: 20px;
        padding: 50px;
        max-width: calc(100% - 40px);

    }

    @media screen and (max-width: 856px) {
        background-color: transparent;
    }

    .card {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            padding: 0;
            height: 255px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        h2 {
            position: relative;
            display: flex;
            width: 250px;
            bottom: 75px;
            left: 20px;
            font-weight: 700;
            font-size: 18px;
            color: white;
            z-index: 2;
        }

        .overlay-card {
            position: relative;
            display: flex;
            top: -391px;
            left: 0px;
            width: 340px;
            height: 340px;
            background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
            opacity: 0.9;
            z-index: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 100%;
        margin: auto;
    }
}